version: 2
jobs:
  build:
    docker:
      - image: golang:1.12.5-stretch

    steps:
      - checkout

      - run:
          name: Install GuPM
          command: curl -fsSL  https://azukaar.github.io/GuPM/install.sh | bash

      - run:
          name: Make
          command: g plugin install https://azukaar.github.io/GuPM-official/repo:provider-go
          command: g make

      - run:
          name: Build Linux
          command: g ci/publish
      - run:
          name: Build Mac
          command: g ci/publish mac
      - run:
          name: Build Windows
          command: g ci/publish windows
      
      - run: git config user.email "nobody@circleci.com"
      - run: git config user.name "Circle Ci"
      - run: git add docs
      - run: git commit -m "[skip ci] Release"
      - run: git push origin master

workflows:
  version: 2
  build-all:
    jobs:
      - build:
          filters:
            branches:
              only:
                - master